{% extends "_layouts/cp" %}

{% block sidebar %}
    {% include templateIndex ~ '/_cp/_components/nav.twig' with {
        pluginHandle: pluginHandle,
        sel: 'setup',
    } %}
{% endblock %}

{% block content %}
    <h4>Getting Started</h4>
    <p>Do the following to get started:</p>
    <ol>
        <li>
            Create a key pair.
            <ul>
                <li> - Install your own key <a href="{{ cpUrl(baseCpPath ~ '/keychain/new') }}">HERE</a>.</li>
                <li> - Use OpenSSL to create one <a href="{{ cpUrl(baseCpPath ~ '/keychain/new-openssl') }}">HERE</a>.
                </li>
            </ul>
        </li>
        <li>Create your provider's metadata <a href="{{ cpUrl(baseCpPath ~ '/metadata/my-provider') }}">HERE</a>.</li>
        <li>Install the Remote provider's metadata <a href="{{ cpUrl(baseCpPath ~ '/metadata/new') }}">HERE</a>.</li>
    </ol>
{% endblock %}
