{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{#{% block sidebar %}#}
    {#{% include templateIndex ~ '/_cp/_components/nav.twig' with {#}
        {#pluginHandle: pluginHandle,#}
        {#sel: 'setup',#}
    {#} %}#}
{#{% endblock %}#}

{% block content %}

    <div class="readable">
        <h1>Setup</h1>
    </div>
    <hr/>
    <div class="readable">
        <h2>Getting Started</h2>
    </div>
    <p>Steps to getting started:</p>
    <ol>
        <li>
            <a href="{{ cpUrl(baseCpPath ~ '/metadata/my-provider') }}" class="go nowrap">
                Create your metadata
            </a>
        </li>
        <li>
            <a href="{{ cpUrl(baseCpPath ~ '/metadata/new-idp') }}" class="go nowrap">
                Install the IDP's metadata
            </a>
        </li>
    </ol>
    <hr/>
{% endblock %}

{% block details %}

    {% if ownProvider %}

        <div class="meta">
            <div class="readable">
                <h2>System Configuration</h2>
            </div>
            <hr/>
            <h3>Entity Id</h3>
            <p class="code">
                {{ ownProvider.entityId }}
            </p>
        </div>
    {% endif %}
{% endblock %}
