{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% block content %}

    <div class="readable">
        <h2>Setup</h2>
    </div>
    <hr/>
    <div class="readable">
        <h3>Getting Started</h3>
    </div>
    <p>Steps to getting started:</p>
    <ol>
        <li>
            <a href="{{ cpUrl(baseCpPath ~ '/metadata/my-provider') }}" class="go nowrap">
                Create your metadata
            </a>
        </li>
        <li>
            <a href="{{ cpUrl(baseCpPath ~ '/metadata/new-' ~ plugin.settings.remoteType) }}" class="go nowrap">
                Install the {{ plugin.settings.remoteType | upper }}'s metadata
            </a>
        </li>
    </ol>
{% endblock %}

{% block details %}

    {% if ownProvider %}

        <h2>System Configuration</h2>
        <div class="meta">
            <div class="field">
                <div class="heading">
                    Entity Id
                </div>
                <div class="input ltr code">
                    {{ ownProvider.entityId }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
