{% macro mappingInputTable(provider, craftMappingOptions, plugin) %}
    {% import "_includes/forms" as forms %}
    <h2 class="saml-cp-header">Mapping</h2>
    {% set cols = {
        'attibuteName':{
            type: 'singleline',
            heading: 'Attribute Name',
        },
        'craftProperty' : {
            type: 'select',
            heading: 'Craft User Property',
            options: craftMappingOptions
        }
    } %}

    {% set rows = provider.getMapping() %}
    {{ forms.editableTableField({
        label: "User Attribute Mapping"|t(plugin.handle),
        instructions: "Each mapping on a different row."|t(plugin.handle),
        id: 'mapping',
        name: 'mapping',
        addRowLabel: "Add a new mapping",
        cols: cols,
        rows: rows,
        errors: provider.getErrors('mapping')
    }) }}
{% endmacro %}
